.cards-item {
  width: 25%;

  padding: 0 15px;
  margin-bottom: 30px;
  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .img_wrap {
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    img {
      width: 100%;
    }
  }

  .cart_title {
    margin-bottom: 15px;
  }
  .cart_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
