.clothes {
  display: flex;
  flex-direction: column;

  .clothers_header {
    display: flex;
    justify-content: space-between;
    margin: 96px 0 45px 0;
    @media (max-width: 800px) {
      display: block;
    }
    .clothers_title {
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 600;
      @media (max-width: 800px) {
        text-align: center;
      }
    }
    .clothers_sort {
      display: flex;
      align-items: flex-end;
      font-size: 12px;
      opacity: 0.6;
      @media (max-width: 800px) {
        display: none;
      }
      a {
        margin-right: 32px;
        &:last-child {
          margin: 0;
        }
      }
    }
  }

  input {
    height: 48px;
    text-transform: uppercase;
    background-color: #f8f8f8;
    font-size: 13px;
    cursor: pointer;
  }
}
