.basket {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 388px;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  color: rgb(251, 251, 251);
  transform: translateX(100%);
  transition: 0.2s ease-in-out;
  @media (max-width: 470px) {
    width: 100%;
  }
  .basket_header {
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding: 13px 24px;
    .basket_title {
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1.2px;
    }
    .close {
      cursor: pointer;
    }
  }
  .basket_nav {
    color: #121212;
    padding: 24px;
    span {
      font-size: 15px;
      font-weight: 400;
    }
    span:after {
      content: '/';
      margin: 0 10px;
    }
    span:last-child::after {
      content: '';
    }
  }
  .basket_center {
    flex: 1;
    overflow: auto;

    .items {
      padding: 0 24px;
      .empty_cart {
        width: 150px;
        margin: 20px auto;
        display: block;
        color: #121212;
        text-align: center;
        font-size: 26px;
        line-height: 39px;
      }
      .item {
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #e6e6e6;
        img {
          margin-right: 20px;
        }
        .about_cart {
          color: #121212;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;

          .about_cart_top {
            .title {
              font-size: 14px;
              font-weight: 400;
              opacity: 0.6;
              line-height: 22px;
              margin-bottom: 5px;
            }
            .color,
            .size {
              font-size: 12px;
              font-weight: 600;
              line-height: 16px;
            }
          }
          .about_cart_bot {
            display: flex;
            align-items: center;
            .counter {
              background-color: #f8f8f8;
              width: 81px;
              height: 32px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-right: 16px;
              span {
                font-size: 14px;
              }
              input {
                background-color: transparent;
                width: 26px;
                height: 32px;
                font-size: 16px;
                font-weight: 400;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                &:hover {
                  background-color: #e6e6e6;
                }
              }
            }
            .price {
              font-size: 14px;
              font-weight: 700;
            }
          }
        }
        .trash {
          display: flex;
          align-items: flex-end;
          margin-bottom: 5px;
          img {
            cursor: pointer;
          }
        }
      }
    }
  }
  .basket_footer {
    padding: 24px;
    .total_price {
      color: #121212;
      display: flex;
      justify-content: space-between;
      margin: 26px 0;
      p {
        font-size: 14px;
        font-weight: 400;
      }
      span {
        font-size: 16px;
        font-weight: 600;
      }
    }
    .btn {
      margin-bottom: 12px;
    }
    .btn:nth-child(even) {
      margin-bottom: 0;
      background-color: #f8f8f8;
      color: #121212;
      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  background-color: #12121266;
  z-index: 40;
}
.visible {
  transform: translateX(0%);
}
