.slider_wrap {
  display: flex;
  padding-top: 32px;
  @media (max-width: 1140px) {
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
  }
  .slider {
    width: 50%;
    position: relative;
    @media (max-width: 1140px) {
      width: 100%;
      margin-bottom: 30px;
    }

    img {
      width: 100%;
    }
    .title_slider {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      background-color: #fff;
      text-transform: uppercase;
      padding: 24px 32px;
      min-width: 290px;
      border-radius: 4px;
      z-index: 2;

      p {
        opacity: 0.4;
        margin-bottom: 14px;
      }
      h1 {
        size: 22px;
        font-weight: 600;
      }
      .arr_left,
      .arr_right {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s linear;
        &:hover {
          background-color: #e5e5e5;
        }
      }
      .arr_right {
        top: 35px;
        left: -100px;
        @media (max-width: 800px) {
          top: 115px;
          left: 0;
        }
      }
      .arr_left {
        top: 35px;
        left: 350px;
        transform: rotate(180deg);
        @media (max-width: 800px) {
          top: 115px;
          left: 250px;
        }
      }
    }
  }
  .intro_right {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 30px;
    @media (max-width: 1140px) {
      width: 100%;
      margin: 0;
    }

    .intro_title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      min-width: 118px;
      text-align: center;
      padding: 13px 24px;
      border-radius: 4px;
      transition: all 0.3s linear;
    }

    img {
      width: 100%;
    }
    .intro_right_top {
      display: flex;
      height: 45%;
      margin-bottom: 30px;
      overflow: hidden;
      .intro_right_top-item {
        position: relative;
        width: 50%;
        margin-right: 30px;
        &:hover {
          .intro_title {
            min-width: 100%;
          }
        }
        &:last-child {
          margin: 0;
        }
      }
    }
    .intro_right_bottom {
      position: relative;
      display: flex;
      height: 55%;
      @media (max-width: 1140px) {
        justify-content: center;
      }
      img {
        width: 100%;
      }
      &:hover {
        .intro_title {
          min-width: 100%;
        }
      }
    }
  }
}
