.header_related {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  .header_related-title {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .header_related-arrow {
    display: flex;

    .arr_left,
    .arr_right {
      transition: 0.2s linear;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        background-color: #e5e5e5;
      }
    }
    .arr_right {
      transform: rotate(180deg);
      margin-left: 15px;
    }
    .swiper-button-disabled {
      cursor: default;
      opacity: 0.5;
      &:hover {
        background-color: inherit;
      }
    }
  }
}
